<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>LARTE DESIGN</title>
</head>
<body>
    <header>
        {% include 'includes/header.html' %}
    </header>
    <main>
        <h1>{{ title }}</h1>
        {% block content %}
            контент сбежал
        {% endblock %}
        <h2>{{ text }}</h2>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>
</html>